<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <header>
      <h1 id="heading">Home Page</h1>
    </header>
    <h2 id="welcome-msg">
      Welcome <%= user.details.firstname %> <%= user.details.lastname %>
    </h2>
    <div id="center-area">
      <p>Login Successful!</p>
      <div class="control">
        <a id='link' href="/logout">Logout</a>
      </div>
    </div>
    <footer>
      <p>
        Kaleb Chisholm,
        <a href="https://github.com/kalebchisholm/4513A2.git">link to Github</a>
        &copy 2023
      </p>
    </footer>
  </body>
</html>
